{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:jsx-a11y/recommended",
        "plugin:sonarjs/recommended",
        "plugin:promise/recommended"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "sonarjs",
        "no-loops",
        "promise"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "import/namespace": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-duplicates": "off",
        "import/no-unresolved": "off",
        "import/default": "off",
        " import/no-useless-path-segments": "off",
        "import/extensions": "off",
        "import/order": "off",
        "import/no-named-as-default-member": "off",
        "import/no-named-as-default": "off",
        "import/no-cycle": "off",
        "import/no-self-import": "off",
        "sonarjs/cognitive-complexity": ["error", 30],
        "no-loops/no-loops": 2
    }
}
